:root {
    --cor-primaria: #4CAF50;
    --cor-secundaria: #f4f4f4;
    --cor-texto: #333;
    --cor-branco: #fff;
    --cor-borda: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: var(--cor-secundaria);
    color: var(--cor-texto);
}

.header {
    background: var(--cor-primaria);
    color: var(--cor-branco);
    text-align: center;
    padding: 1.5rem;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.form-section,
.lista-section {
    flex: 1;
    background: var(--cor-branco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input,
textarea,
select {
    padding: 10px;
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background: var(--cor-primaria);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

#lista-tarefas {
    list-style: none;
    margin-top: 15px;
}

#lista-tarefas li {
    background: var(--cor-branco);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-left: 5px solid var(--cor-primaria);

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.status {
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 5px;
    width: fit-content;
}

.status.pendente {
    background: orange;
    color: white;
}

.status.concluida {
    background: green;
    color: white;
}

.btn-delete {
    background: #f44336;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit {
    background: #2196F3;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}


.acoes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#buscar {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}